.footer{
      padding: 2px;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      background-color:#020416;
      padding-left: 10px;
      padding-right: 10px;
      color: #efefef;
  }
.footer div{
  text-align: center;
}
.footer div h3{
  font-weight: 800;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.logos-container{
    align-content: space-between;
    display: grid;
    justify-content: space-between;
    column-gap: 16px;
}
.my-contact{
  font-size: 12px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 2px;
  transition-duration: 0.2s;
}
.column-3 a{
  text-decoration: none;
  color: #efefef;
  transition-duration: 0.3s;
}
.column-3 a:hover{
  text-decoration: none;
  color: #efefef;
  text-decoration: underline;
}
form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  outline: none;
  border: none;
}
form button{
  border: none;
  outline: none;
  border-radius: 4px;
  height: 40px;
  width: 40%;
  background-color: rgb(38, 209, 183);
  color: rgb(0, 0, 0);
  font-weight: 1000;
  transition-duration: 0.2s;
}
form button:hover{
  transform: scale(1.05);
}
  .footer div h3{
    font-size: 14px;
    padding-bottom: 3px;
  }
  #logos{
    color: #efefef;
    font-size: 35px;
    padding: 10px 3px;
    transition-duration: 0.2s;
  }
#logos:hover,
.my-contact:hover{
  transform: translateY(-5px)
  }
form button,
#send-button{
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 40px;
  width: 70%;
  background-color: rgb(38, 209, 183);
  color: rgb(0, 0, 0);
  font-weight: 1000;
  transition-duration: 0.2s;
}

@media (min-width: 200px) and (max-width: 400px) {
  .my-contact{
    font-size: 10px;
    text-align: left;
    padding-left: 20px;
  }
  #logos{
    font-size: 30px;
    padding: 2px;
}
  .logos-container{
    column-gap: 8px;
}
  .footer{
      padding: 1px;
      padding-left: 10px;
      padding-right: 10px;
 / }
}
@media (max-width: 700px) {
  #logos{
    font-size: 30px;
}
    .logos-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
@media (min-width: 701px) and (max-width: 1299px) {
     
    .logos-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
@media (min-width: 1300px) {
     
    .logos-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .copyright{
    grid-column: 1 / span 3;
    text-align: center;
    font-weight: lighter;
    opacity: 60%;
  }