.header{
    position: relative;
    display: flex;
    height: 50px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.3); 
}
.personal-logo-container{
    height: 100%;
    width: fit-content;
}
.exit-icon-container .tooltip,
.personal-logo-container .tooltip{
    background-color: rgb(10, 10, 10);
    color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    visibility: hidden;
}
.exit-icon-container:hover .tooltip,
.personal-logo-container:hover .tooltip{
    visibility: visible;
    opacity: 40%;
    width: fit-content;
    z-index: 100000;
}
.personal-logo{
    height: 50px;
    width: auto;
}
.left-part {
    height: auto;
    width: 30%;
}

.right-part {
    justify-content: end;
    display: flex;
    height: auto;
    width: 70%;
}
.exit-icon{
    height: 50px;
    width: auto;
}
.exit-icon-container{
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}
.exit-icon-container:hover{
    cursor: pointer;
    transform: scale(1.2);
}