*{
    padding: 0;
    margin: 0;
}
.header{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}
.left-part {
    height: auto;
    width: 30%;
}

.right-part {
    justify-content: end;
    display: flex;
    height: auto;
    width: 70%;
}
.personal-logo-container{
    height: 100%;
    width: fit-content;
}
.exit-icon-container .tooltip,
.personal-logo-container .tooltip{
    background-color: rgb(10, 10, 10);
    color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    visibility: hidden;
}
.exit-icon-container:hover .tooltip,
.personal-logo-container:hover .tooltip{
    visibility: visible;
    opacity: 40%;
    width: fit-content;
    z-index: 100000;
}
.personal-logo{
    height: 50px;
    width: auto;
}
.exit-icon{
    height: 50px;
    width: auto;
}
.exit-icon-container{
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}
.exit-icon-container:hover{
    cursor: pointer;
    transform: scale(1.2);
}
nav ul {
    float: right;
    list-style: none;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 13px 8px;
    color: #efefef;
    text-decoration: none;
    text-align: center;
    font-size: 20px; 
    transition-duration: 0.2s;
}
nav ul li ul.dropdown-list li{
    display: block;
}
nav ul li ul.dropdown-list{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1000;
    display: none;
}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.3);
}
nav ul li:hover ul.dropdown-list{
    display: block;
}
#checkbtn{
    font-size: 30px;
    margin-right: 15px;
    color: #efefef;
    cursor: pointer;
    line-height: 50px;
    display: none;
    float: right;
}
#check{
    display: none;
}
#check:checked ~ ul {
    left: 0;
}
@media (max-width: 700px){
    nav ul li a {
        font-size: 18px;
        padding: 13px 6px;
    }
}
/*
@media (max-width:590px){
     #checkbtn{
        display: block;
     }
     nav ul{
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 50px;
        left: -100%;
        transition-duration: 0.5s;
     }
     nav ul li{
        display: block;
        text-align: center;
        line-height: 40px;
     }
     nav ul li:hover ul.dropdown-list{
        display: inline-block;
     }
}
*/
@media (max-width: 590px) {
    #checkbtn {
        display: block;
    }

    nav {
        position: relative;
    }

    nav ul {
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: auto;
        position: relative;
        left: -500%;
        transition-duration: 0.5s;
        z-index: 1001;
    }

    nav ul li {
        display: block;
        text-align: center;
        line-height: 40px;
        position: relative
    }

    nav ul li ul.dropdown-list {
        display: none;
        position:sticky;
        top: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1002;
    }

    nav ul li ul.dropdown-list.show {
        display: block;
    }

    nav ul li:hover ul.dropdown-list {
        display: block;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
